.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url('../../../images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerCountry{
  height: 400px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 0px;
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px;
  justify-content: space-around;
}
.containerFilters {
  background: linear-gradient(to top, transparent, rgba(185, 184, 184, 0.473));
	padding: 20px 0px;
	width: 100vw;
}